header{
    padding: 0 40px;
    background: $white;
    .header-container{
        max-width: 1600px;
        margin: 0 auto;
        padding: 30px 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .site-logo{
            img{
                flex: 0 0 20%;        
            }    
        }
        .header-links{
            display: flex;
            align-items: center;
            justify-content: space-between;
            grid-column-gap: 20px;
            flex: 0 0 77%;  
            .nav-container{
                flex: 0 0 62%;
                .nav-wrap{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    grid-column-gap: 20px;
                    a{
                        color: $black;
                        font-family: $inter;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        white-space: nowrap;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        &:hover{
                            color: $orange;    
                        }
                    }    
                }    
            }
            .cart-link{
                padding: 0 10px;
                a{
                    svg{
                        transition: all 0.3s ease;
                        &:hover{
                            path{
                                fill: $orange;  
                            }   
                        }    
                    }   
                }    
            }
            .header-buttons{
                display: flex;
                align-items: center;
                grid-column-gap: 10px;
                a{
                    border: 2px solid $orange;
                    padding: 15px 50px;
                    font-family: $inter;
                    font-size: 20px;
                    font-weight: 600;
                    background: $orange;
                    border-radius: 50px;
                    color: $black;
                    transition: all 0.3s ease;
                    &:hover{
                        background: $white;    
                    }
                }    
            }     
        }
    }    
}